/* src/styles/fonts.css */

@font-face {
  font-family: 'Roboto';
  font-style : normal;
  font-weight: 400;
  src: url('../fonts/roboto-cyrillic-400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0100-024F, U+0400-04FF;
}

@font-face {
  font-family : 'Roboto Local';
  font-style  : normal;
  font-weight : 500;
  src :
    local('Roboto Medium'),
    url('./assets/fonts/roboto-cyrillic-500.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0100-024F, U+0400-04FF;
}

@font-face {
  font-family : 'Roboto Local';
  font-style  : normal;
  font-weight : 700;
  src :
    local('Roboto Bold'),
    url('./assets/fonts/roboto-cyrillic-700.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0100-024F, U+0400-04FF;
}

